@model Naytto.Models.Botintiedot

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Botintiedot</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.KayttajaID, "KayttajaID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KayttajaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KayttajaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BottiAika, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BottiAika, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BottiAika, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BottiHalkoja, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BottiHalkoja, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BottiHalkoja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BottiKokemuspisteita, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BottiKokemuspisteita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BottiKokemuspisteita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BottiRahaaTunnissa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BottiRahaaTunnissa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BottiRahaaTunnissa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BottiTaitotasoNousu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BottiTaitotasoNousu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BottiTaitotasoNousu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
