@model Naytto.Models.Botintiedot

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Botintiedot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BottiAika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottiAika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottiHalkoja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottiHalkoja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottiKokemuspisteita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottiKokemuspisteita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottiRahaaTunnissa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottiRahaaTunnissa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottiTaitotasoNousu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottiTaitotasoNousu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bottaajantiedot.Kayttajatunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bottaajantiedot.Kayttajatunnus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
